{{#if widgetInstances}}
	<div class="row {{row-class widgetInstances "tall" 0}}">
		<div class="col-xs-12 chart-container">
			{{#each-if widgetInstances "display.row" 0}}
				<div class="chart chart-large" id="container-widget{{id}}">
					<div class="widget" id="widget{{id}}">
					</div>
				</div>
			{{else}}
				<div class="chart chart-large">
					<div class="loader">add widget</div>
				</div>
			{{/each-if}}
		</div>
	</div>
	<div class="row {{row-class widgetInstances "short" 1}}">
		<div class="col-xs-4 chart-container">
			<div class="chart chart-small">
				<div class="loader">add widget</div>
			</div>
		</div>
		<div class="col-xs-4 chart-container">
			<div class="chart chart-small">
				<div class="loader">add widget</div>
			</div>
		</div>
		<div class="col-xs-4 chart-container last">
			<div class="chart chart-small">
				<div class="loader">add widget</div>
			</div>
		</div>
	</div>
	<div class="row {{row-class widgetInstances "tall" 2}}">
		<div class="col-xs-12 chart-container last">
			{{#each-if widgetInstances "display.row" 2}}
				<div class="chart chart-large" id="container-widget{{id}}">
					<div class="widget" id="widget{{id}}">
					</div>
				</div>
			{{else}}
				<div class="chart chart-large">
					<div class="loader">add widget</div>
				</div>
			{{/each-if}}
		</div>
	</div>
{{/if}}