<script id="ui.modal.edit.widget.detail" type="text/x-handlebars-template">
	{{!-- edit widget panel --}}
	<div class="col-md-4">
		{{#if-eq dashboard.layout.[0] "tall"}}
		<ul class="sidebar-list" id="drag-drop-top">
			<h6>TOP</h6>
			{{#each-if dashboard.widgets "display.row" 0}}
				{{#withHash @root.widgets id}}
					<li class="{{toggle-class id @root.selectedWidgetId 'selected'}}">
						<a href="" data-on-click="showSettings('{{id}}')">{{name}}</a>
					</li>
				{{/withHash}}
			{{else}}
				<li> </li>
			{{/each-if}}
		</ul>
		{{/if-eq}}

		{{#if-eq dashboard.layout.[1] "short"}}
		<ul class="sidebar-list" id="drag-drop-middle">
			<h6>MIDDLE</h6>
			{{#each-if dashboard.widgets "display.row" 1}}
				{{#withHash @root.widgets id}}
					<li class="{{toggle-class this.id @root.selectedWidgetId 'selected'}}">
						<a href="" data-on-click="showSettings('{{id}}')">{{name}}</a>
					</li>
				{{/withHash}}
			{{else}}
				<li> </li>
			{{/each-if}}
		</ul>
		{{/if-eq}}


		{{#if-eq dashboard.layout.[2] "tall"}}
		<ul class="sidebar-list" id="drag-drop-bottom">
			<h6>BOTTOM </h6>
			{{#each-if dashboard.widgets "display.row" 2}}
				{{#withHash @root.widgets id}}
					<li class="{{toggle-class this.id @root.selectedWidgetId 'selected'}}">
						<a href="" data-on-click="showSettings('{{id}}')">{{name}}</a>
					</li>
				{{/withHash}}
			{{else}}
				<li> </li>
			{{/each-if}}
		</ul>
		{{/if-eq}}
	</div>

	{{!-- detail form --}}
	{{#each-if widgets "id" selectedWidgetId}}
		<div id="widget-detail-{{id}}" class="col-md-8">
			{{version.description}}
			<form class="form-horizontal" id="edit-widget-form">
				{{#each version.general.params as |type settingName|}}
					<div class="form-group">
						<label class="col-sm-2 control-label">{{settingName}}</label>
						<div class="col-sm-10">
							{{#with @root.selectedWidgetSettings}}
							<input data-model="{{settingName}}" class="settings form-control" placeholder="{{settingName}}" type="{{type}}"
								value="{{lookup-property this settingName}}">
							{{/with}}
						</div>
					</div>
				{{/each}}
				<button type="button" class="btn btn-primary"
					data-on-click="saveChanges()">Confirm changes</button>
					{{#if @root.error}}
						{{@root.error}}
					{{/if}}
					{{#if @root.updated}}
						{{@root.updated}}
					{{/if}}
			</form>
		</div>
	{{else}}
		hello, anything to setup?
	{{/each-if}}
</script>