<script id="ui.sidebar" type="text/x-handlebars-template">
	<ul class="sidebar-list">
		<h6>I LIKE</h6>
		{{#each-if dashboards "like" true}}
			<li class="{{toggle-class this.id @root.route 'selected'}}">
				<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}</a>

				{{#if-eq this.id @root.route}}
					<span class="desc">{{this.desc}}</span>
				{{/if-eq}}
			</li>
		{{else}}
			<li></li>
		{{/each-if}}
	</ul>

	<ul class="sidebar-list">
		<h6>SHARED</h6>
		{{#each-if dashboards "shared" true}}
			<li class="{{toggle-class this.id @root.route 'selected'}}">
				<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}</a>

				{{#if-eq this.id @root.route}}
					<span class="desc">{{this.desc}}</span>
				{{/if-eq}}
			</li>
		{{else}}
			<li>does anybody like you?</li>
		{{/each-if}}
	</ul>


	<ul class="sidebar-list">
		<h6>THE OTHERS</h6>
		{{#each-if dashboards "like" false}}
			{{#if this.shared}}
			{{else}}
				<li class="{{toggle-class this.id @root.route 'selected'}}">
					<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}</a>

					{{#if-eq this.id @root.route}}
						<span class="desc">{{this.desc}}</span>
					{{/if-eq}}
				</li>
			{{/if}}
		{{else}}
			<li></li>
		{{/each-if}}
	</ul>
</script>