<script id="ui.sidebar" type="text/x-handlebars-template">
	<h5>I LIKE</h5>
	<ul class="sidebar-list">
		{{#each-if dashboards "like" true}}
			<li><a href="" class="{{toggle-class id ../route 'selected'}}">{{name}}</a></li>
		{{else}}
			<li>any dashboard you like?</li>
		{{/each-if}}
	</ul>

	<h5>SHARED</h5>
	<ul class="sidebar-list">
		{{#each-if dashboards "shared" true}}
			<li><a href="" class="{{toggle-class id ../route 'selected'}}">{{name}}</a></li>
		{{else}}
			<li>any shared dashboard?</li>
		{{/each-if}}
	</ul>


	<h5>THE OTHERS</h5>
	<ul class="sidebar-list">
		{{#each-if dashboards "like" false}}
			{{#if this.shared}}
			{{else}}
				<li><a href="" data-on-click="navigate('/dashboard/{{this.id}}')" class="{{toggle-class this.id ../route 'selected'}}">{{this.name}}</a></li>
			{{/if}}
		{{else}}
			<li>loader</li>
		{{/each-if}}
	</ul>
</script>