<script id="ui.sidebar" type="text/x-handlebars-template">
	<ul class="sidebar-list">
		<h6>I LIKE</h6>
		{{#each-if dashboards "like" true}}
			<li class="link {{toggle-class this.id @root.route 'selected'}}">
				<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}
					{{#if this.shared}}
						<span class="shared" title="this view is shared with many happy people"><i class="fa fa-share-alt"></i></span>
					{{/if}}
				</a>

				{{#if-eq this.id @root.route}}
					<span class="desc">{{max-char this.desc 30}}</span>
				{{/if-eq}}
			</li>
		{{else}}
			{{#random-text}}
				<li>you're right... hate the world</li>
				<li>love is like a bee...</li>
				<li>to like or to hate?</li>
				<li>shouldn't you like someone</li>
			{{/random-text}}
		{{/each-if}}
	</ul>

	<ul class="sidebar-list">
		<h6>SHARED WITH ME</h6>
		{{#each-if dashboards "fromShared" true}}
			<li class="link {{toggle-class this.id @root.route 'selected'}}">
				<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}</a>

				{{#if-eq this.id @root.route}}
					<span class="desc">{{max-char this.desc 30}}</span>
				{{/if-eq}}
			</li>
		{{else}}
			{{#random-text}}
				<li>hey, are you talking to anyone?</li>
				<li>does anybody like you?</li>
				<li>hmm.... boy or girl?</li>
				<li>no facebook? no twitter?</li>
			{{/random-text}}
		{{/each-if}}
	</ul>


	<ul class="sidebar-list">
		<h6>THE OTHERS</h6>
		{{#each-if dashboards "like" false}}
			{{#if this.fromShared}}
			{{else}}
				<li class="link {{toggle-class this.id @root.route 'selected'}}">
					<a href="" data-on-click="navigate('/dashboard/{{this.id}}')">{{this.name}}
						{{#if this.shared}}
							<span class="shared" title="this view is shared with many happy people"><i class="fa fa-share-alt"></i></span>
						{{/if}}
					</a>
					{{#if-eq this.id @root.route}}
						<span class="desc">{{max-char this.desc 30}}</span>
					{{/if-eq}}
				</li>
			{{/if}}
		{{else}}
			{{#random-text}}
				<li>what about a new view?</li>
				<li>would you like to see something?</li>
				<li>Time to see and lead...</li>
			{{/random-text}}
		{{/each-if}}
	</ul>
</script>