{{!-- edit widget panel --}}
<div class="col-md-4">
	<h5>TOP WIDGET</h5>
	<ul id="drag-drop-top">
		{{#each-if widgetInstances "display.row" 0}}
			{{#withHash @root.widgets id}}
				<li class="widget-item"><a href="" class="{{toggle-class id @root.selectedWidgetId 'selected'}}"
					data-on-click="showSettings('{{id}}')">{{name}}</a></li>
			{{/withHash}}
		{{else}}
			<li>add new top widget</li>
		{{/each-if}}
	</ul>
	<h5>MIDDLE WIDGETS</h5>
	<ul id="drag-drop-middle">
		{{!-- for all widgets --}}
		{{#each-if widgetInstances "display.row" 1}}
			{{#withHash @root.widgets id}}
				<li class="widget-item"><a href="" class="{{toggle-class id @root.selectedWidgetId 'selected'}}"
					data-on-click="showSettings('{{id}}')">{{name}}</a></li>
			{{/withHash}}
		{{/each-if}}
		{{!-- display add links --}}
		{{#middle-widgets-add-links widgetInstances}}
			<li>add new middle widget {{index}}</li>
		{{/middle-widgets-add-links}}
	</ul>
	<h5>BOTTOM WIDGET</h5>
	<ul id="drag-drop-bottom">
		{{#each-if widgetInstances "display.row" 2}}			
			{{#withHash @root.widgets id}}
				<li class="widget-item"><a href="" class="{{toggle-class id @root.selectedWidgetId 'selected'}}"
					data-on-click="showSettings('{{id}}')">{{name}}</a></li>
			{{/withHash}}
		{{else}}
			<li>add new bottom widget</li>
		{{/each-if}}
	</ul>
</div>

{{!-- detail form --}}
{{#each-if widgets "id" selectedWidgetId}}
	<div id="widget-detail-{{id}}" class="col-md-8">
		{{version.description}}
		<form class="form-horizontal">
			{{#each version.general.params as |type settingName|}}
				<div class="form-group">
					<label class="col-sm-2 control-label">{{settingName}}</label>
					<div class="col-sm-10">
						{{#with @root.selectedWidgetSettings}}
						<input name="{{settingName}}" class="settings form-control" placeholder="{{settingName}}" type="{{type}}"
							value="{{lookup-property this settingName}}">
						{{/with}}
					</div>
				</div>
			{{/each}}
			<button type="button" class="btn btn-primary"
				data-on-click="saveChanges()">Confirm changes</button>
		</form>
	</div>
{{else}}
	hello, anything to setup?
{{/each-if}}
